html {
  font-family: $font-family;
  font-size: 100%;
  line-height: $line-height;

  color: $color-black;
  letter-spacing: 0.01em;
}

body {
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: rem(24);
  color: $color-primary;
}

p {
  margin: 0;
  margin-bottom: rem(24);
}

h1 {
  // Formula for Vertical Rhythm
  // calc max line-height: 24(magic number) / 48px = 0.5 * 2(optional)     = 1
  // calc min line-height: 24(magic number) / 42px = 0.5714 * 2(optional)  = 1.1428
  @include fluid-type(font-size, 375px, 1200px, 42px, 48px);
  @include fluid-type(line-height, 375px, 1200px, 1.1428, 1);
  max-width: 70ch;
}

h2 {
  @include fluid-type(font-size, 375px, 1200px, 30px, 36px);
  @include fluid-type(line-height, 375px, 1200px, 1.6, 1.3333);
}

h3 {
  @include fluid-type(font-size, 375px, 1200px, 20px, 24px);
  @include fluid-type(line-height, 375px, 1200px, 1.2, 1);
}

h4 {
  @include fluid-type(font-size, 375px, 1200px, 19px, 21px);
  @include fluid-type(line-height, 375px, 1200px, 1.2631, 1.142);
}

h5 {
  @include fluid-type(font-size, 375px, 1200px, 16px, 18px);
  @include fluid-type(line-height, 375px, 1200px, 1.5, 1.3333);
}

h6 {
  font-size: rem(16);
  line-height: 1.5;
}

ul,
ol,
li,
a,
td,
span,
p {
  @include fluid-type(font-size, 375px, 1200px, $font-size-base, $font-size-lg);
  @include fluid-type(line-height, 375px, 1200px, 1.5, 1.2);
}

// Links
a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: 2px dotted $color-primary;
    outline-offset: 4px;
  }
}

// Lists
ul,
ol {
  margin: 0;
  margin-bottom: rem(24);
}

ul {
  list-style: square outside;
}

ul ul,
ol ol {
  margin: 0 0 0 rem(60);
}

// Blockquote
blockquote {
  padding-left: rem(10);
  margin: 0 rem(60) 0 rem(45);
  text-indent: -0.4em;
  border-left: rem(5) solid $color-white;
}

blockquote b {
  display: block;
  text-indent: 0;
}
