/* Function
====================================== */

/* Colors
====================================== */
/* Typography
====================================== */
/* Transition
====================================== */
/* Z-index
====================================== */
/* Function
====================================== */
* {
  box-sizing: border-box; }

body,
figure,
figcaption {
  padding: 0;
  margin: 0; }

img,
video {
  flex-shrink: 0;
  align-self: center;
  max-width: 100%;
  height: auto; }

img {
  display: block; }

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  border: 0; }

[input="text"] {
  margin: 0; }

/* Colors
====================================== */
/* Typography
====================================== */
/* Transition
====================================== */
/* Z-index
====================================== */

button {
  display: none;
  border: none;
  outline: none; }

p {
  font-size: 12px; }
  p:focus, p:hover {
    color: red; }

[input="text"] {
  margin: 0; }

* {
  box-sizing: border-box; }

body,
figure,
figcaption {
  padding: 0;
  margin: 0; }

img,
video {
  flex-shrink: 0;
  align-self: center;
  max-width: 100%;
  height: auto; }

img {
  display: block; }

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  border: 0; }

html {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.01em; }

body {
  display: block;
  width: 100%;
  height: 24px;
  background: linear-gradient(to top, white 95%, gray 5%) repeat-y; }
