.whyus {
  .container {
    display: grid;
    grid-template-rows: rem(96) repeat(3, auto) rem(96);
    grid-template-columns: $gap 1fr $gap;
    text-align: center;
  }

  &__title {
    grid-row: 2;
    grid-column: 2;
    margin-bottom: rem(48);
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $gap $gap;
    grid-row: 3;
    grid-column: 2;
    margin-bottom: rem(48);
  }

  &__btn {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
  }

  &__subtitle {
    position: relative;
    padding-top: rem(140);

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 115px;
      height: 115px;
      content: "";
      transform: translateX(-50%);
    }

    &--first::before {
      background: url("../../img/sprites_features/first.svg") no-repeat center
        center;
      background-size: 100%;
    }

    &--agreement::before {
      background: url("../../img/sprites_features/agreement.svg") no-repeat
        center center;
      background-size: 100%;
    }

    &--piggy::before {
      background: url("../../img/sprites_features/piggy-bank.svg") no-repeat
        center center;
      background-size: 100%;
    }
  }
}

@include tablet {
  .whyus {
    &__row {
      gap: $gap-lg $gap-lg;
    }
  }
}
