<!-- Footer
    ========================================= -->
<footer class="page-footer">
  <div class="container">
    <h2 class="visuallyhidden">Bas de page</h2>
    <div class="page-footer__list">
      <nav class="page-footer__item page-footer--faq" aria-labelledby="menuFaq">
        <h3 class="page-footer__title" id="menuFaq">
          Vendre une propriete
        </h3>
        <ul>
          <li><a href="#">Comment ca fonctionne?</a></li>
          <li><a href="#">Combien ca coute?</a></li>
          <li><a href="#">Combien pourriez-vous economiser?</a></li>
          <li><a href="#">Options de paiement</a></li>
        </ul>
      </nav>

      <nav
        class="page-footer__item page-footer--buy-home"
        aria-labelledby="menuAcheterPropriete"
      >
        <h3 class="page-footer__title" id="menuAcheterPropriete">
          Acheter une propriete
        </h3>
        <ul>
          <li><a href="#">Acheter une propriete</a></li>
          <li><a href="#">Pourquoi acheter avec nous</a></li>
          <li><a href="#">Comment ca fonctionne?</a></li>
          <li><a href="#">Outils pour chercher une propriete</a></li>
        </ul>
      </nav>

      <nav
        class="page-footer__item page-footer--contact"
        aria-labelledby="menuNousJoindre"
      >
        <h3 class="page-footer__title" id="menuNousJoindre">
          Nous joindre
        </h3>
        <ul>
          <li><span>Tel: 514 777 8888</span></li>
          <li><span>33 rue Prince,</span></li>
          <li><span>Montreal, QC, H3G 2M5</span></li>
        </ul>
      </nav>

      <nav
        class="page-footer__item page-footer--social-networks"
        aria-labelledby="menuReseauxSociaux"
      >
        <h3 class="page-footer__title" id="menuReseauxSociaux">
          Reseaux sociaux
        </h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </nav>
    </div>
    <!-- /end footer info -->

    <!-- Copyright -->
    <div class="page-footer__copyright">
      <p>©2020 PropDirect</p>
      <p>Developed by <a href="https://artysimple.com">Artiom Sinigur</a></p>
    </div>
  </div>
  <!-- / end container -->
</footer>
<!--end Footer -->
